body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Righteous', cursive;
}

nav {
    background-color: #424249;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}

h3 {
    padding-right: 50px;
}

h1 {
    display: flex;
    padding-left: 50px;
    align-items: center;
    padding-left: 20px;
    width: 400px;
}

.piggy {
    padding-right: 30px;
    height: 80px;
    width: 80px;
}

.gray-box {
    background-color: #EFE8E1;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blue-box {
    background-color: #54D2E5;
    width: 400px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px;
}

h5 {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #424249;
}

h4 {
    font-size: 26px;
    margin: 15px;
    font-family: 'Righteous', cursive;
    color: #424249;
}

h3 {
    font-size: 30px;
}

.trashcan {
    height: 30px;
}

button {
    position: relative;
    width: 80%;
    height: 50px;
    background-color: #424249;
    border-radius: 5px;
    font-size: 30px;
    margin: 10px 10%;
    color: white;
    font-family: 'Righteous', cursive;
}

input {
    height: 30px;
    width: 250px;
    border-radius: 5px;
}

li {
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #424249;
}

ul {
    padding: 20px;
}

